body {
  margin: 0 auto;
  background-color: black;
}

.bulb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toogle-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
